<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mobcatnotmobcat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mobcatnotmobcat.scm.azurewebsites.net:443</MSDeployServiceURL>
    <ResourceId>/subscriptions/498092e0-4b48-4b45-9033-16348a07ef12/resourceGroups/MobCatNotMobCat/providers/Microsoft.Web/sites/MobCatNotMobCat</ResourceId>
    <DeployIisAppPath>MobCatNotMobCat</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MobCatNotMobCat</UserName>
    <Password>5q3SeLQfS9672Wx8QqZkr8k1yKpBoS2LkGjgT1g5GRsiXql9YDErwgBn8cGW</Password>
    <_SavePWD>True</_SavePWD>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
  </PropertyGroup>
</Project>